body{
    background-color: #ffffff;
    margin: auto;

}

header{
    background-image: linear-gradient(#5f72a9, #3b5998);
}

main{
    background-image: linear-gradient(#ffffff, #dfe1ee);
}

header .flex-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

main .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* main .flex-container .left{
    justify-content: center;
}

main .flex-container .right{
    justify-content: end;
} */


